* {
font-family: Arial, Helvetica, sans-serif;
border: border-box;
margin: 0;
}
header{
    display: block;
}
.navbar{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav_logo{
    background-image: url(amazon_logo\ \(1\).png);
    display: flex;
    align-items: center;
    height: 90%;
    width: 120px;
    background-size: cover;
}
.nav_adress{
    /* height: 50px;
    width: 100px; */
    color: white;
    font-size: 0.85rem;
    display: flex;

}
.p{
    
    margin-right: 3px;
    margin-top: 18px;
}

#dilever{
    font-size: 0.85rem;
}
#india{
    font-size: 1.25rem;
}

.adress{
   
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
    border-radius: 3px;
}

.nav_searchbar{
   display: flex;
   height: 40px;
   width: 55%;
   /* align-items: center; */
   /* background-color: pink; */
   /* justify-content: space-around; */
}

.nav_searchbar:hover{
    border: 3px solid lightsalmon;
    border-radius: 7px;
}

.selector{
    height: 40px;
    width: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    text-align: center;
    background-color: #f3f3f3;
}
#searchbar{
   width: 100%;
   height: 38px; 
   border: none;
   outline: none;
}

#search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: lightsalmon;
    

}
#search-button{
    background-color: lightsalmon;
    border: none;
    font-size: large;
}


.nav-language{
    display: flex;
    width: 65px;
    height: 40px;
    align-items: center;
    background-color: #0f1111;
}
#flag-image
{
    width: 21px;
    height: 16px;
    background-size: cover;
    background-image: url(flag.png);
}
#lang-selector{
    background-color: #0f1111;
    font-weight: 700;
    color: white;
    width: 40px;
      border: none;
}

.account{
    /* width: 130px; */
    height: 40px;
    text-align: center;
}
.l1{
background-color: #0f1111;
color: #f3f3f3;
width: 100%;
font-size: 0.85rem;
text-align: start;
}
.l2{
    background-color: #0f1111;
    color: #f3f3f3;
    border: none; 
    width: 100%;
    font-weight: 550;
}

.return{
    height: 40px;
}

.cart{
    display: flex;
    align-items: baseline;
}
.cart-logo{
    font-size:xx-large;
    width: auto;
    background-color: #0f1111;
    color: #f3f3f3;
}

.nav2{
    height: 39px;
    display: flex;
    background-color: #09232c;
    align-items: center;
    justify-content: space-evenly;
}

.all{
    display: flex;
    align-items: center;
    height: 35px;
    color: white;
    font-size: 0.85em;
    font-weight: 550;
}
#menu{
    background-color: #09232c;
    color: white;
    border: none;
    font-size: x-large;
}
.box221{
    display: flex;
    align-items: center;
    width: 80%;
}

.box22{
color: white;
display: flex;
align-items: center;
padding: 0px 10px 0px 10px;
height: 35px;
font-weight: 550;
justify-content: center;

}
.b2last{
  width: 170px;
  /* font-size: xx-small; */
  /* height: px; */
}

#hero-image{
    background-image: url(hero_image.jpg);
    height: 360px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.heromsg{
    height: 35px;
    background-color: white;
    color: black;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-size: 0.85rem;
}

.heromsg a{
    color: #134b5f;
    text-decoration: none;
    
}

.hero2{
    height: 870px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content:  space-evenly;
    background-color: aliceblue;

}
.box11{
    background-image: url(box1_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box21{
    background-image: url(box2_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box31{
    background-image: url(box3_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box41{
    background-image: url(box4_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box51{
    background-image: url(box5_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box61{
    background-image: url(box6_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box71{
    background-image: url(box7_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}
.box81{
    background-image: url(box8_image.jpg);
    background-size:cover;
     width: 85%;
     height: 70%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 340px;
    height: 385px;
    margin: 0px 5px 0px 20px;
}

.box p{
    display: flex;
    justify-content: flex-start;
    font-size: 1.25rem ;
    font-weight: 780;
    color: #0f1111;
    width: 85%;
}

.box a{
    display: flex;
    justify-content: flex-start;
    font-size: .85rem ;
    color:#134b5f;
    width: 85%;
    text-decoration: none;
}

.topfoot{
    background-color: #1e404b;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
}

.topfoot a{
    color: #f3f3f3;
    text-decoration: none;
}

.midfoot{
    height: 350px;
    background-color: #0a2731;
    color: white;
    display:flex ;
    justify-content: center;
    align-items: baseline;
    justify-content: space-evenly;
}

.mf{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    color: #f3f3f3;
    margin-top: 60px;
}


.mf p{
    font-weight: bold;
    font-size: 1.1rem;
}


.mf a{
    color: #f3f3f3;
    text-decoration: none;
    font-size: 0.85rem;
    padding-top: 10px;
}

.lastfoot{
    height: 60px;
    background-color: #0a2731;
    border-top: 2px solid #1d333c;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footlogo{
    height: 50px;
    width: 80px;
    background-image: url(amazon_logo\ \(1\).png);
    background-size: cover;
}